html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0; }

body {
  margin: 0;
  color: #2f3035;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
  background: linear-gradient(90deg, #f8f5f5 0%, #e7e7ee 35%, #d6d8d8 100%); }

.container {
  width: 1120px;
  padding: 0 15px;
  margin: 0 auto; }

/* header__top */
header {
  margin-bottom: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1; }

.header__top {
  background-color: #231f20; }

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  font-family: "SFProDisplay-Bold", sans-serif; }

.menu__item {
  display: inline-block;
  padding: 16px;
  color: #a8a6b3; }
  .menu__item:hover {
    color: #fff; }

.menu__item.menu__item--active {
  background-color: #383838;
  color: #fff; }

.menu__right-list {
  margin-right: 15px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center; }

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #282828;
  background-image: none;
  cursor: pointer;
  max-width: 168px; }

.menu__right-list {
  position: relative;
  overflow: hidden; }
  .menu__right-list:li:nth-child(1) {
    padding-right: 15px; }
  .menu__right-list:li:nth-child(2) {
    padding-left: 20px; }

.menu__right__item {
  padding: 5px;
  background-color: #282828;
  border-radius: 0.8em; }

.menu__right__item + .menu__right__item {
  margin-left: 10px; }

/* header__bottom */
.header__bottom {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 15px; }

#logo {
  height: 38px;
  width: 38px;
  background-image: url("../images/logo-waveform-svgrepo.svg");
  margin-right: 24px; }

.header__bottom--menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__bottom--menu--left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.menu-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 990px; }

.header__bottom--menu {
  position: relative;
  font-weight: bold;
  color: #858295;
  font-size: 15px; }

.menu-categories__item + .menu-categories__item {
  margin-left: 15px; }

.menu-categories__link {
  transition: all 0.2s ease;
  align-items: center;
  padding: 15px 0 14px;
  position: relative; }
  .menu-categories__link::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #0d72ea;
    height: 3px;
    bottom: -2px;
    transition: all 0.2s ease; }
  .menu-categories__link:hover {
    color: black; }
  .menu-categories__link:hover:before {
    width: 100%;
    right: auto;
    left: 0; }

.header-user__list {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 15px; }

.user-list__item {
  padding-right: 10px;
  padding-top: 10px; }

.signup-icon {
  height: 20px;
  width: 20px;
  background: url("../images/user-svgrepo.svg") no-repeat; }

.search-icon {
  height: 20px;
  width: 20px;
  background: url("../images/search-svgrepo-com.svg") no-repeat; }

.header__bottom--dropdown {
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 53px;
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 5;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4); }

.dropdown:hover .header__bottom--dropdown {
  display: block; }

.header__bottom--dropdown--link:hover {
  color: black; }

.header__bottom--dropdown--item + .header__bottom--dropdown--item {
  padding-top: 10px; }

.users__main {
  display: flex;
  justify-content: center; }

.users__inner {
  display: flex;
  justify-content: space-between; }

#user__list {
  width: 740px; }

.users__inner-aside {
  width: 330px; }

.cont {
  padding: 15px;
  font-size: 15px; }

.post-header {
  margin-top: 0px;
  line-height: 10px;
  font-weight: 700; }

.cont p.description {
  line-height: 40px; }

.advertising {
  background-color: white;
  box-shadow: 0 0 23px grey;
  margin-bottom: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 130px; }

.advertising img {
  width: 100%; }

.user {
  background-color: white;
  margin-bottom: 40px;
  box-shadow: 0 0 23px grey; }

.user-list__item {
  padding-right: 10px;
  padding-top: 10px; }

.user {
  height: 320px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.2s ease-in;
  cursor: pointer; }

.user:hover {
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4); }

.user .user-cover {
  height: 150px;
  width: 100%;
  position: relative;
  background-image: url(https://images.pexels.com/photos/5969/wood-nature-forest-bridge.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
  background-position: center;
  background-size: cover; }

.user .user-cover .user-avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -35px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.2); }

.user .user-info {
  text-align: left;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 95%;
  margin-left: 25px; }

.user .user-info .user-name {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600; }

.user .user-info .user-email {
  font-size: 14px;
  color: #0d72ea;
  font-weight: 500; }

.user .user-info .user-text {
  margin-top: 5px;
  font-size: 15px;
  color: #666; }

/* footer */
.footer {
  background: #21242d;
  color: #868996; }

.footer__middle {
  padding-top: 43px; }

.footer__middle-inner {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 70px;
  font-size: 12px;
  position: relative; }

.footer-list__item {
  font-size: 12px; }

.footer-list__item.footer-list__item--active {
  color: #5e24da; }

.footer__middle-item:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url("../images/logo-40.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  left: -2px;
  top: -2px; }

.footer__middle-item h6 {
  color: #fff; }

.footer__middle-item + .footer__middle-item {
  margin-left: 83px; }

.footer__middle-newslatter.footer__middle-item {
  width: 295px; }

.footer__middle-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 15px; }

.footer-form {
  margin-top: 20px;
  position: relative; }

.footer-form__input {
  background-color: #2c2e37;
  border: none;
  line-height: 15px;
  font-size: 12px;
  padding: 12px 177px 12px 12px;
  border-radius: 5px; }

.footer-form__input::placeholder {
  color: #868996;
  text-align: left; }

.footer-form__btn {
  text-transform: uppercase;
  padding: 10px 16px;
  border: none;
  background-color: #5e24da;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.12em;
  border-radius: 5px;
  position: absolute;
  right: -44px;
  top: 4px; }

.footer__middle-item.footer__middle-newslatter h6 {
  font-size: 22px;
  padding: 20px 0 13px 0; }

.footer__middle-item {
  width: 200px; }

.footer-list {
  font-size: 14px;
  line-height: 23px; }

.footer__bottom {
  padding: 30px 0 22px;
  background-color: #181a20;
  font-size: 10px;
  line-height: 12px; }

.footer__bottom_inner {
  display: flex;
  justify-content: space-between; }

.footer__bottom-link {
  color: #868996; }

.footer__bottom-link + .footer__bottom-link {
  border-left: 1px solid #868996;
  padding-left: 20px;
  margin-left: 20px; }
